.header_container {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: #51bb7b;
    grid-gap: 1.5em;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);

}

.nav_logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.nav_links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    color: #fff;
}


.logo_span span {
    color: #FFF;
  }

